.sidebar-menu {
    position: fixed;
    top: 0;
    left: -300px;
    width: 250px;
    height: 100%;
    background-color: #c1e7ff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
    transition: left 0.3s ease-in-out;
    z-index: 1000;
    padding: 20px;
  }
  
  .sidebar-menu.active {
    left: 0;
  }
  
  .sidebar-menu-header {
    display: flex;
    justify-content: flex-end;
  }
  
  .close-btn {
    font-size: 30px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .sidebar-menu-items {
    list-style: none;
    padding: 0;
    margin-top: 30px;
    font-family: "National Park";
  }
  
  .sidebar-menu-items li {
    padding: 15px 0;
    cursor: pointer;
    font-size: 18px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .sidebar-menu-items li:hover {
    color: #0067ac;
  }